.login-Box{
    width: 320px;
    height: 420px;
    background: rgba(232, 233, 232, 0.986);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); 

    box-sizing: border-box;

   

    padding: 70px 30px;
    
    z-index: 8;
}

.login-Box .logoManzana{
    width: 100px;
    height: 100 px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-Box h1{
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
}

.login-Box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block; /* Para que este en una sola linea */
    font-family: sans-serif;
}


.login-Box input{
    width: 100%;
    margin-bottom: 20px;
}


.login-Box input[type="email"],
.login-Box input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size:  15px;
    font-family: fantasy;

}


.login-Box input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(38, 90, 38);
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
}


.login-Box a{
text-decoration: none;
font-size: 12 px;
line-height: 30px;
color: black;

}

.login-Box a:hover{
    color: lightgray;
}